<div class="container">
  <div class="header-container">
    <h3>Tax Calculator (Private Company)</h3>
    <h4>Assessment Year: <b>2026-2027</b></h4>
    <h4>Income Year: <b>01-07-25 to 30-06-26</b></h4>
  </div>

  <label>Monthly Salary</label>
  <p-inputnumber inputId="integeronly" [(ngModel)]="monthlySalary" (keyup)="isShow = false;calcFestival()" placeholder="Enter monthly salary" locale="en-IN"></p-inputnumber>

  <label>Total Bonus</label>
  <p-inputnumber inputId="integeronly" [(ngModel)]="festivalBonus" (keyup)="isShow = false" placeholder="Enter festival salary" locale="en-IN"></p-inputnumber>

  <label>Tax Free Limit</label>
  <select [(ngModel)]="taxFreeLimit" (change)="isShow = false">
    <option *ngFor="let limit of taxFreeLimitOptions" [value]="limit.value">
      {{ limit.label }}
    </option>
  </select>

  <label>Minimum Tax</label>
  <select [(ngModel)]="minTax" (change)="isShow = false">
    <option *ngFor="let limit of minTaxOptions" [value]="limit.value">
      {{ limit.label }}
    </option>
  </select>


  <button type="submit" style="margin-top: 20px" (click)="calculate()">Calculate</button>

  <table *ngIf="isShow && totalIncome > 0" class="results-table">
    <tbody>
    <tr>
      <td>Total Income With Bonus</td>
      <td class="value">{{ formatIndianNumber(totalIncome) }}</td>
    </tr>
    <tr>
      <td>Exemption 1/3 (max: 5,00,000)</td>
      <td class="value">{{ formatIndianNumber(totalIncome - totalIncomeAfterExemption) }}</td>
    </tr>
    <tr>
      <td>Total Income After Exemption</td>
      <td class="value">{{ formatIndianNumber(totalIncomeAfterExemption) }}</td>
    </tr>
    <tr>
      <td>Tax Free Limit</td>
      <td class="value">{{ formatIndianNumber(taxFreeLimit) }}</td>
    </tr>
    <tr>
      <td>Tax Without Rebate</td>
      <td class="value">{{ formatIndianNumber(totalTax) }}</td>
    </tr>
    <tr>
      <td>Tax After Maximum Rebate</td>
      <td class="value">{{ formatIndianNumber(taxAfterRebate) }}</td>
    </tr>
    <tr>
      <td>Monthly TDS</td>
      <td class="value">{{ formatIndianNumber(monthlyTDS) }}</td>
    </tr>
    <tr>
      <td>Monthly Salary After TDS</td>
      <td class="value">{{ formatIndianNumber(monthlySalary - monthlyTDS) }}</td>
    </tr>
    </tbody>
  </table>


  <div class="credit">
    <span class="copyright-icon">©</span> Zahid Hassan
  </div>

</div>
